<div class="container">
    <h1 style="margin: 20px; padding: 5px">Edit Animal</h1>
    <form class="new-animal-form" style="margin: 20px; padding: 5px">
        <mat-form-field class="animal-breed">
            <mat-label>Select the Animal Parent Breed</mat-label>
            <mat-select
                [(ngModel)]="selected_breed"
                (selectionChange)="breedChanged($event)"
            >
                @for (food of foods; track food) {
                <mat-option [value]="food.value">{{
                    food.viewValue
                }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="animal-name">
            <mat-label>Animal Name</mat-label>
            <input
                type="text"
                matInput
                [(ngModel)]="animal_name"
                #animal_n
                name="animal_name"
                maxlength="256"
                placeholder="Please Enter the Animal's Name"
            />
            <mat-hint align="start"
                >Use the Universal name of the Animal
            </mat-hint>
            <mat-hint align="end">{{ animal_n.value.length }} / 256</mat-hint>
        </mat-form-field>

        <mat-form-field class="animal-wiki-link">
            <mat-label>Animal WIKI Link</mat-label>
            <input
                type="url"
                matInput
                #animal_wiki_link
                placeholder="Please Enter the Animal's Correct Wiki Link"
            />
            <mat-hint align="start"
                >Please choose the correct WIKI Link
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="animal-description">
            <mat-label>Animal Description</mat-label>
            <input
                type="text"
                matInput
                #animal_description
                maxlength="500"
                placeholder="Please Enter the Animal's Description"
            />
            <mat-hint align="start">
                You can use the description provided in the WIKI Page
            </mat-hint>
            <mat-hint align="end"
                >{{ animal_description.value.length }} / 500</mat-hint
            >
        </mat-form-field>

        <mat-form-field class="animal-official-name">
            <mat-label>Animal Official Name</mat-label>
            <input
                type="text"
                matInput
                #animal_official_name
                maxlength="256"
                placeholder="Please Enter the Animal's Official Name"
            />
            <mat-hint align="start">
                You can use the Official Name provided in the WIKI Page
            </mat-hint>
            <mat-hint align="end"
                >{{ animal_official_name.value.length }} / 256</mat-hint
            >
        </mat-form-field>

        <mat-form-field class="animal-other-names">
            <mat-label>Animal Other Names</mat-label>
            <input
                type="text"
                matInput
                #animal_other_names
                maxlength="500"
                placeholder="Please Enter the Animal's Other Popular Names"
            />
            <mat-hint align="start">
                You can insert multiple common names by separating them by a
                comma.
            </mat-hint>
            <mat-hint align="end"
                >{{ animal_other_names.value.length }} / 500</mat-hint
            >
        </mat-form-field>

        <mat-form-field class="animal-origin">
            <mat-label>Animal Origin</mat-label>
            <input
                type="text"
                matInput
                #animal_origin
                maxlength="500"
                placeholder="Please Enter the Animal's Origin"
            />
            <mat-hint align="start">
                Please enter the Animal's original origin.
            </mat-hint>
            <mat-hint align="end"
                >{{ animal_origin.value.length }} / 500</mat-hint
            >
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            (click)="openDialogForCharacteristics('250ms', '250ms')"
        >
            Add Animal Characteristics
        </button>

        <button
            mat-raised-button
            color="accent"
            (click)="openDialogForSpecifics('250ms', '250ms')"
        >
            Add Animal Specifics
        </button>

        <button mat-raised-button color="accent" (click)="submit()">
            SUBMIT
        </button>
    </form>
</div>
